body {
  margin: 0;
  font-family: "Graphik";
  // border: black 15px solid;
}

.hide-scroll-bars {
  overflow: hidden;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Graphik";
  font-weight: bold;
  font-size: 5.5vw;
  line-height: inherit;
  margin-top: 0px;
}

h2 {
  font-family: "Graphik";
  font-weight: bold;
  font-size: 2rem;
  margin: 0px;
}

h3 {
  font-weight: bold;
  font-size: 3vw;
  line-height: 0;
  margin-top: 0px;
}

h4 {
  font-weight: 300;
  line-height: 0.4;
  font-size: 2vw;
  margin-top: 0px;
  color: #8d8d8d;
}

.body-text {
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1.7;
}

.wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 30px);
  padding: 0px 15vw;
}

// Homepage

.outlined-white:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.outlined-black:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.passionate {
  display: flex;
}

.passionate-text {
  font-family: "Graphik";
  font-weight: bold;
  font-size: 2vw;
}

.view-my-projects {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: 25s rotateRight infinite linear;
  animation: 25s rotateRight infinite linear;
  top: 38vh;
  right: 20vw;
  position: fixed;
  z-index: -1;
  width: 15vw;
}

#arrow {
  top: 38vh;
  right: 20vw;
  width: 15vw;
  position: fixed;
  cursor: pointer;
}

@keyframes rotateRight {
  100% {
    transform: rotate(360deg);
  }
}

#image {
  position: absolute;
  z-index: -10;
  display: none;
  left: -50%;
  top: -50%;
  opacity: 0.5;
}

// Menu

.menu {
  position: fixed;
  right: 5vw;
  top: 7vh;
  z-index: 2;
  cursor: pointer;
}

.outlined-menu {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: color 0.5s;
}

.outlined-menu:hover {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.outlined-menu-white {
  color: #212121;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  font-weight: 200;
  transition: color 0.5s;
}

.outlined-menu-white:hover {
  color: white;
}

.overlay {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #212121;
  z-index: 100;
  overflow: hidden;
}

.year-in-menu {
  position: absolute;
  font-size: 13pt;
  right: 5vw;
  bottom: 7vh;
  z-index: 2;
  margin: 0px;
}

nav {
  li {
    list-style: none;
  }
  h2 {
    font-size: 3.2vw;
    margin: 5vh 0px;
  }
  ul {
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:visited {
    color: #212121;
  }
  a:link {
    color: #212121;
  }
}

.border {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  margin-bottom: 30px;
}

.get-in-touch {
  font-size: 18pt;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.377);
  margin-bottom: 10px;
}

.email {
  font-size: 18pt;
  font-weight: normal;
  margin: 0px;
}

.email:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
}
// Logo

.logo {
  position: fixed;
  left: 5vw;
  top: 7vh;
  z-index: 2;
}

.white {
  color: white;
}

.year {
  position: absolute;
  right: 5vw;
  bottom: 7vh;
  z-index: 2;
}
