body {
  margin: 0;
  font-family: "Graphik";
  // border: black 15px solid;

}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #1f1f1f;
}




.hide-scroll-bars {
  overflow: hidden;
}

h1 {
  font-family: "Graphik";
  font-weight: bold;
  font-size: 5vw;
  line-height: inherit;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  font-family: "Graphik";
  font-weight: bold;
  font-size: 2rem;
  margin: 0px;
}

h3 {
  font-weight: bold;
  font-size: 43pt;
  line-height: inherit;
  margin-top: 0px;
}

h4 {
  font-weight: 300;
  line-height: inherit;
  font-size: 28pt;
  margin-top: 0px;
  color: #8d8d8d;
  
}

.body-text {
  font-size: 20pt;
  font-weight: 300;
  line-height: 1.7;
}


.wrapper {
  // margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0px 5vw;
  cursor: context-menu;
  // background: rgba(128, 128, 128, 0.603);
}

@media only screen and (max-width: 1440px) {

  h1 {
    font-size: 7vw;
  }
}

// @media only screen and (max-width: 1024px) {

//   h1 {
//     font-size: 4.5rem;
//   }
// }

// Homepage

.outlined-white:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.outlined-black:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.passionate {
  display: flex;
}

.passionate-text {
  font-family: "Graphik";
  font-weight: bold;
  font-size: 2vw;
}

.view-my-projects {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: 25s rotateRight infinite linear;
  animation: 25s rotateRight infinite linear;
  top: 38vh;
  right: 20vw;
  position: fixed;
  z-index: -1;
  width: 15vw;
}

#arrow {
  top: 38vh;
  right: 20vw;
  width: 15vw;
  position: fixed;
  cursor: pointer;
}

@keyframes rotateRight {
  100% {
    transform: rotate(360deg);
  }
}

#image {
  position: absolute;
  z-index: -10;
  display: none;
  left: -50%;
  top: -50%;
  opacity: 0.5;
}

// Menu

.menu {
  position: fixed;
  right: 5vw;
  top: 7vh;
  z-index: 2;
  cursor: pointer;
}

.outlined-menu {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: color 0.5s;
}

.outlined-menu:hover {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.outlined-menu-white {
  color: #212121;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  font-weight: 200;
  transition: color 0.5s;
}

.outlined-menu-white:hover {
  color: white;
}

.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #1d1d1d;
  z-index: 100;
  overflow: hidden;
}

.year-in-menu {
  position: absolute;
  font-size: 13pt;
  right: 5vw;
  bottom: 7vh;
  z-index: 2;
  margin: 0px;
}

nav {
  li {
    list-style: none;
  }
  h2 {
    font-size: 3rem;
    margin: 5vh 0px;
  }
  ul {
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:visited {
    color: #212121;
  }
  a:link {
    color: #212121;
  }
}

.border {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  margin-bottom: 30px;
}

@media only screen and (max-width: 425px) {
.border {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  h2 {
    font-size: 2rem;
  }
}
}
.get-in-touch {
  font-size: 18pt;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.377);
  margin-bottom: 10px;
}

.email {
  font-size: 18pt;
  font-weight: normal;
  margin: 0px;
}

.email:hover {
  text-decoration: underline;
  cursor: pointer;
}

.big-email {
  margin-bottom: 20px;
  a {
    color: black;
  }
}

.big-email:hover {
  text-decoration: underline;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
a:visited{
  color: black;
}
a:link{
  color: black;
}


// Logo

.logo {
  position: fixed;
  left: 5vw;
  top: 7vh;
  z-index: 2;
  a:link{
    color: black;
  }
}

@media only screen and (max-width: 1024px) {

.logo{
  position: absolute;
}
.menu {
  position: absolute;
}
}

.white {
  color: white;
}

.year {
  position: absolute;
  right: 5vw;
  bottom: 7vh;
  z-index: 2;
}

// Circle

.projects-arrow:hover {
  fill: #a0a0a0;
  cursor: pointer;
}

.projects-to-projects {
  position: relative;
  left: -50px;
  transform-origin: 50% 50%;
  animation: 25s rotateRight infinite linear;
  z-index: -1;
}

.projects-arrow {
  position: relative;
  left: 150px;
  bottom: 80px;
}
@media only screen and (max-width: 425px) {

  .projects-to-projects {
    left: 50px;
    bottom: 208px;
  }

  .projects-arrow{
    bottom: 0px;
    left: 137px;
  }

}

.get-in-touch-home {
  font-size: 18pt;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.219);
  margin-bottom: 10px;
}


.hover {
  font-size: 15pt;
  color: rgba(0, 0, 0, 0.219);
  font-weight: bold;
  letter-spacing: 4pt;
}




.project-info a:link {
  text-decoration: none;
  color: black;
}

.project-info a:visited {
  text-decoration: none;
  color: black;
}


.btn {
  
  font-family: "Graphik";
  font-weight: normal;
  font-size: 12pt;
	background: none;
	cursor: pointer;
	padding: 5px 30px;
	margin: 50px 30px;
	text-transform: uppercase;
	letter-spacing: 1.2px;

	outline: none;
	border-radius: 50px;
	border: 2px solid black;
	color:black;	
  transition: all 0.3s;
  a{
    p{
      color: black;
      margin: 0;
    }
    p:hover{
      color: white;
    }
  }
}

.btn a:link{
  text-decoration: none;
  color: black;
  
}


.btn:hover{
  background: black;
  p{
    color: white;
  }
}

