body {
    min-height: 200vh;
    transition: all 700ms ease;
}


// .disable-scroll-bar {
//   overflow-y: scroll; /* Add the ability to scroll */
// }
// .disable-scroll-bar::-webkit-scrollbar {
//   display: none;
// }

.vertical-line-single {
  position: absolute;
  height: 8vh;
  width: 1px;
  border-right: solid 1px black;
  bottom: -4vh;
  right: 50vw;
}


.single-project-wrapper {
  margin: 0 20vw 0 20vw;
  // background: lightgrey;
}

.title-slogan {
  margin: 150px 0 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-image {
  margin-top: 60px;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}

.challenge {
  margin-top: 150px;
}

.concept {
  margin-top: 120px;
  display: flex;
  width: 100%;

}

.concept-text {
  width: 70%;
}


.concept-image{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-up-logo {
  max-width: 60%;
  height: auto;
}

.local-buddy-logo {
  max-width: 60%;
  height: auto;
}

.lunchester-logo {
  max-width: 60%;
  min-width: 75%;
  height: auto;
}

.who-i-am {
  max-width: 100%;
  height: auto;
}


.image-text{
  margin-top: 120px;
  display: flex;
  width: 100%;
  
  div {
    width: 50%;

  }
  img {
    position: relative;
    width: 50vw;
    height: auto;
    // left: -150px;
  }
}

.image-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.image-flex-joyah{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: relative;
  left: -15.5vw;
}



.text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.team-up-video {
  min-width: 50vw;
 

}

// Technologies

.wrapper-technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.technologies {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    img {
      align-self: center;
      max-width: 100%; 
      height: 30px;
    }
    p {
      margin-left: 15px;
    }

  }
}

.mt-150 {
  margin-top: 150px;
}

// Slider
.carousel-cell-2{
 
  margin-left: 50px;

  height: auto;
  img {
    max-width: 60vw;
  }
}

.main-carousel-2 {
  margin-top: 100px;
}


// Footer
.footer {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 150px;
}

.back-arrow:hover {
  fill: #A0A0A0;
  cursor: pointer;
}

.back-to-projects {
  position: relative;
  left: -50px;
  transform-origin: 50% 50%;
  animation: 25s rotateRight infinite linear;
  z-index: -1;
  
}

.back-arrow {
  position: relative;
  left: 150px;
  bottom: 80px;
}