body {
    min-height: 200vh;
    margin: 0;
    font-family: "Graphik";
    
    transition: all 700ms ease;
}

.carousel-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }


.carousel-cell > img{
    margin-right: 10px;
}

  img{

    height: inherit !important;
  }

  .single-project-wrapper {
    overflow-y: scroll; /* Add the ability to scroll */
  }
  .single-project-wrapper::-webkit-scrollbar {
    display: none;
  }

