.carousel-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell img {
  height: inherit !important;
  max-width: 100vw;
  max-height: 100vh;
}

.static-banner {
  position: absolute;
  z-index: 1;
  padding: 2px 20px;
  color: black;
}

// Logo Top-Left
.static-banner1 {
  font-size: 26px;
  left: 5vw;
  top: 5vh;
}

// Date Bottom-Right
.static-banner2 {
  right: 5vw;
  bottom: 7vh;
  pointer-events: none;
}

// Futura
.index-0 {
  background-color: white;
  transition: background-color 1000ms ease;
}

// Team Up
.index-1 {
  background: white; //#1CB3FD // linear-gradient(to right, #3874FC, #16BFFD)
  transition: background-color 1000ms ease;
}

// Joyah
.index-2 {
  background-color: white; //#242525
  transition: background-color 1000ms ease;
}


// Custom previous and next buttons

.previous-button {
  position: absolute;
  font-family: inherit;
  top: 50vh;
  left: 5vw;
  font-size: 13pt;
  border: none;
  background: none;
  transform: rotate(-90deg);
  cursor: pointer;
}

.next-button {
  position: absolute;
  font-family: inherit;
  top: 50vh;
  right: 5vw;
  font-size: 13pt;
  border: none;
  background: none;
  transform: rotate(90deg);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.vertical-line {
  position: absolute;
  height: 4vh;
  width: 1px;
  border-right: solid 1px black;
  bottom: 0;
  right: 50vw;
}

// Project info

.project-info {
  position: absolute;
  left: 5vw;
  bottom: 7vh;
  z-index: 2;
  font-family: inherit;
}

.client {
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.project {
  margin: 0;
  font-size: 13pt;
}

.year {
  margin: 0;
  font-size: 13pt;
  right: 5vw;
  bottom: 7vh;
  pointer-events: none;
}

.view-project {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 13pt;
  bottom: 7vh;

  p {
    margin-bottom: 0;
    margin-top: 10px;
  }
  div {
    display: flex;
  }
}

